<IfModule mod_rewrite.c>
    RewriteEngine On

    # Check if requested URI ends with .js or .css
    RewriteCond %{REQUEST_URI} \.(js)$ [NC]
    RewriteRule ^(.+\/)?([^\/]+)\.(js)$ assets/$2.$3 [L]

    # Check if requested URI ends with .css
    RewriteCond %{REQUEST_URI} \.(css)$ [NC]
    RewriteRule ^(.+\/)?([^\/]+)\.(css)$ assets/$2.$3 [L]

    # Check if requested URI ends with .png, .jpg, .jpeg, .gif
    RewriteCond %{REQUEST_URI} \.(png|jpg|jpeg|gif|svg|ico)$ [NC]
    RewriteRule ^(.+\/)?([^\/]+)\.(png|jpg|jpeg|gif|svg|ico)$ assets/$2.$3 [L]

   # If the above condition is not met, redirect to index.php
	RewriteRule ^ src/index.php [L]

    RewriteRule ^(.*)$ /$1 [L]
    
</IfModule>
