<div>
    <h1>Grigo Verde</h1>
</div>

<section>
    <img src="grigoletti-entrata.jpg"
        alt="Entrata della scuola: viale alberato pedonale, dietro agli alberi si intravede il liceo.">
    <h2>Chi Siamo</h2>
    <p>
        Il Liceo Grigoletti non è solo una scuola, ma una comunità incentrata
        sull'integrazione e sull'inclusione, pronta a sostenere gli studenti
        più deboli e a premiare le eccellenze, tanto durante il percorso degli
        studi superiori che all’Università, attenta alla ricerca metodologica,
        alle innovazioni tecnologiche e digitali e, soprattutto, alla promozione
        e alla valorizzazione della cultura umanistica e scientifica. Nel nostro
        istituto tutti collaborano alla costruzione di un bene comune i cui
        spazi rispondono al modello organizzativo e cooperativistico
        dell’apprendimento. Il nostro Liceo è il luogo dove si dà la parola,
        dove si coltiva la possibilità dello stare bene insieme, dove si
        valorizzano le differenze, le singolarità, dove si anima la curiosità di
        ciascuno, dove si confrontano e si educano le diversità, dove si cura la
        formazione della persona, il suo valore, la sua dignità e la sua
        identità. Il nostro Liceo comprende due indirizzi di studio, quello
        scientifico (ordinario e scienze applicate) e quello linguistico,
        pertanto punta alla valorizzazione e al potenziamento delle competenze
        linguistiche, con particolare riferimento all'italiano, all’inglese e ad
        altre lingue dell'Unione europea, anche mediante l'utilizzo della
        metodologia <span lang="en">Content language integrated learning</span> e il potenziamento
        delle competenze matematico-logiche e scientifiche. Ciò è dimostrato
        dalla presenza del
        <abbr title="Content Language Integrated Learning" lang="en">CLIL</abbr>
        in tutte le classi del secondo biennio delle
        sezioni di Linguistico e dell’anno terminale in tutte le sezioni, dal
        corso <abbr title="Esame di Stato italiano e Baccalaureat francese">ESABAC</abbr>,
        dalla sezione
        <abbr title="Content Language Integrated Learning" lang="en">CLIL</abbr>,
        dalle attività legate agli scambi internazionali e alla certificazioni linguistiche, tra cui spicca, a
        partire da quest’anno, l’avvio del corso Cambridge
        <abbr title="International General Certificate of Secondary Education" lang="en">IGCSE</abbr>.
        Ma soprattutto il Grigoletti intende promuovere e sviluppare una cultura
        della ricerca critica e del lavoro responsabile, in grado di
        contemperare preparazione culturale e competenze scientifiche, facendo
        della scuola un punto di riferimento che concorra attivamente allo
        sviluppo socio-culturale del territorio.
    </p>
</section>

<section id="scelta-progetto">
    <h2>Scelta del progetto</h2>
    <p>
        Il progetto <span lang="en">‘URBAN NATURE’</span> di
        <abbr title="World Wildlife Fund" lang="en" aria-describedby="wwf">WWF</abbr>
        Italia si propone come iniziativa, inerente agli obiettivi dell’agenda
        2030, che coinvolge gli istituti
        primari e secondari per la riqualificazione in ambito di sostenibilità
        di zone verdi. Il bando prevede tre tipologie di proposte che gli
        istituti possono seguire: la riqualificazione degli spazi della scuola
        (cortile, giardino se esistente, tetto, parete, aula), la
        riqualificazione di un’area esterna (es. parco cittadino o area
        dismessa) e interventi a livello urbano per monitorare la biodiversità
        cittadina. La nostra classe ha deciso di prendere parte a questa
        iniziativa, proponendo un progetto che rientra nella categoria di
        riqualificazione degli spazi scolastici. L’adesione al bando si è
        rivelata una scelta fruttuosa su molti fronti: essa ha contribuito ad
        ampliare la conoscenza della nostra struttura, apprendendo pregi e punti
        critici, inoltre ci ha permesso di sviluppare competenze nel lavoro di
        gruppo, sia nell’effettivo momento della realizzazione della
        planimetria, ma anche in tutte le scelte riguardanti le proposte
        innovative di pianificazione dello spazio. L’iniziativa ci ha permesso
        anche di lavorare all’aria aperta per diverse ore (rilevazioni esterne)
        e soprattutto l’utilizzo di un <abbr title="computed-aided design" lang="en">CAD</abbr> ci ha permesso di
        ampliare il nostro
        bagaglio riguardo materie come l’ingegneria e l’architettura, anche in
        un'ottica futura.
    </p>
    <img src="urban-nature.jpg" alt="Volto parzialmente nascosto tra foglie verdi con testo: WWF Urban Nature La Natura si fa Cura">
    <span id="wwf" class="helper">
        Sigla di World Wildlife Fund, organizzazione
        internazionale non governativa costituita nel 1961 a Morges
        (Svizzera) e la cui sede è stata successivamente trasferita a Gland
        presso Losanna; nel 1986 ha assunto la denominazione di Worldwide
        fund for nature, mantenendo la sigla precedente.
    </span>
</section>

<section>
    <h2>La posizione</h2>
    <p>
        Il liceo si trova a Pordenone, in “Via Interna 12" , una posizione particolare rispetto al centro cittadino.
        Attraverso soli percorsi pedonali è possibile raggiungere facilmente vari ambienti verdi del comune. La
        scuola è quindi collegata a parchi, laghi e zone alberate dove gli studenti possono svolgere, in tutta
        sicurezza e comodità, attività differenti inerenti al loro percorso di studi. Realizzando questo progetto
        abbiamo ripercorso tutte le aree verdi circostanti alla scuola accessibili agli studenti. </p>
</section>

<section id="progetto">
    <h2>Il nostro progetto</h2>
    <p>
        L’edificio della nostra scuola è diviso in due sezioni A e B simmetriche
        tra loro. Entrambe sono costituite da tre piani, rispettivamente: il
        piano terra, il primo ed il secondo piano. Gli atri al piano terra
        presentano un auditorium, aule varie, e tutti i laboratori (chimica,
        biologia, fisica, informatica e arte). Nei due piani superiori invece
        sono presenti normali aule che collegano le due parti che compongono
        l’edificio attraverso lunghi corridoi. Complessivamente la scuola conta
        66 aule per circa 1500 studenti. Esternamente il cortile presenta un
        grande varietà di arbusti ed alberi autoctoni che circondano l’edificio,
        una vasta zone dedicata allo sport con campi da basket, calcetto,
        pallavolo e pista d’atletica, stalli per le biciclette e una grande area
        ricreativa dove noi studenti trascorriamo le ricreazioni.
    </p>
    <p>
        Con questo progetto l’ambiente esterno è stato valorizzato e
        riqualificato secondo una visione più attenta sostenibile e inclusiva.
        Il progetto consiste nello sfruttare in modo diverso ciò che ci è stato
        dato, e si sviluppa in:
    </p>
    <ul>
        <li>
            <span class="title">aule verdi</span>: aree ombreggiate adibite a vere e
            proprie aule esterne circondate da siepi e vegetazione
            autoctona;
        </li>
        <li> <span class="title">nuove aree ricreative</span>: campi da gioco di ping
            pong; </li>
        <li> <span class="title">aree perdonali che consentono l’utilizzo di carrozzine</span>: sono
            stati pensati dei punti di scambio carrozzine per disabili per
            fornire mezzi idonei per muoversi in aree naturali a prato,
            permettendo così a tutti gli studenti di muoversi con comodità; </li>
        <li> esposizione di <span class="title">sculture artistiche</span> nelle zone
            verdi poco utilizzate ma molto visibili; </li>
        <li> <span class="title">sentieri in ghiaia</span>: rendere più accessibile la struttura
            mettendola in collegamento con ogni zona del giardino ed
            in particolar modo con le aule “verdi”. </li>
    </ul>
    <p>
        Alla base di questa idea c’è lo scopo di rendere la scuola un luogo
        più accogliente mettendo anche in
        evidenza la sua posizione nel contesto cittadino.
    </p>
</section>


<section id="aule-verdi">
    <h2>Aule verdi</h2>
    <p>
        L’idea alla base di questo progetto è quella di utilizzare al meglio gli
        spazi verdi. Con questa visione abbiamo realizzato delle “aule verdi” ,
        ossia grandi spazi all’aperto utilizzati come vere e proprie aule
        usufruibili da tutti gli studenti e insegnanti durante le giornate
        soleggiate. Sono state posizionate in zone adatte ad accogliere gli
        studenti durante tutte le ore del giorno, nel miglior comfort
        ipotizzabile. Si trovano nelle zone ombreggiate del giardino, al di
        sotto di grandi alberi come per esempio osmanti, aceri, tigli, e lontano
        dalla strada e da qualsiasi altra fonte di distrazione. La presenza di
        vegetazione che le circonda, come ad esempio la grande siepe di arbusti
        autoctoni, permette un effetto acustico di isolamento, ideale per
        allontanare i vari rumori provenienti dal traffico e dall’esterno della
        struttura.
    </p>
    <img src="banchi-sedie.png" alt="banchi e sedie su prato verde">
    <p>
        Ogni aula esterna è in grado di accogliere una classe formata da un
        massimo di 30 persone ed è costituita da delle sedute senza
        schienale con i rispettivi banchi-scrivanie non fissati al suolo, per
        evitare il danneggiamento del manto erboso. Gli elementi che la
        compongono sono realizzati in legno di pino prevalentemente
        riciclato e sono impregnati in autoclave con una soluzione che ne
        preserva la durata, proteggendoli da muffe e batteri; inoltre, queste
        dimensioni sono state progettate per essere mobili, in modo che due
        persone riescano a spostarle facilmente in punti d’ombra favorevoli
        allo svolgimento delle lezioni esterne.
    </p>
    <img src="aula-ligustri.png"
        alt="Modello 3D di un'aula verde: ci sono sedie e banchi in legno disposti a semicerchio in ombra.">
    <img src="aula-tiglio.png" alt="">
</section>

<section id="arte-natura">
    <h2>Arte e Natura</h2>
    <p>
        Dopo aver studiato i giardini della scuola ci si è accorti che vi sono
        dei tratti non utilizzabili come aule in quanto molto centrali e
        visibili.
        Ci si è perciò chiesto quale sarebbe stato il modo migliore per
        sfruttare queste aree; alla classe, reduce da un percorso di storia
        dell’arte di quattro anni, è venuto in mente di aggiungere a quel
        posto così visibile qualcosa da ammirare, posizionandovi una
        scultura.
    </p>
    <p>
        All’inizio si è pensato di optare per una scultura simile a quelle dei
        più importanti scultori friulani, ma alla fine si è deciso di scegliere
        qualcosa di più inerente alla scuola e alla natura che la circonda,
        orientando così la scelta sulla statua che si vede in figura. Una “G”
        da “Grigoletti” verde “<span lang="en">Green</span>”, decorata dalla natura stessa così da
        non togliere spazio a quest’ultima e, anzi, valorizzarla.
        La scultura che si vede nella foto non è ancora stata creata ma
        attraverso l’utilizzo dell’<abbr title='intelligenza
            artificiale'>IA</abbr> è stato possibile dare forma all’idea,
        fondata sull’unione tra arte natura e tecnologia.
    </p>
    <img src="scultura-verde.png"
        alt="G verde, scultura visibile da un corridoio vetrato e da alcune aule della scuola.">
</section>

<section>
    <h2>Crezione del progetto</h2>
    <p>
        Il progetto è stato realizzato utilizzando un
        <abbr title="computed-aided design" lang="en">CAD</abbr>.
        Gli alunni hanno rilevato l’intera pianta della scuola, a partire dalla
        zona verde, dagli stalli per le biciclette, fino ai campi da gioco.
        Dopo un attenta mappatura della struttura scolastica gli studenti
        hanno riportato il tutto con il
        <abbr title="computed-aided design" lang="en">CAD</abbr>.
        e successivamente modificato il
        progetto in base all’idea di riqualificare l’area verde valorizzando
        la vegetazione già presente.
        Contemporaneamente sono state create tridimensionalmente,
        attraverso un modellatore 3D, le varie aule verdi.
    </p>
</section>
