<div class="actions-content">
    <h1> {{ nome spazio }} </h1>

    <aside>
        <h2> Operazioni </h2>
        <form action="spazi/modifica" method="GET">
            <input type="numeric" name="posizione" value="{{ posizione }}" class="hidden">
            <input type="submit" value="Modifica spazio">
        </form>
        <form action="spazi/elimina" method="POST">
            <input type="numeric" name="posizione" value="{{ posizione }}" class="hidden">
            <input type="submit" value="Elimina spazio">
        </form>
        <form action="prenotazioni/nuovo" method="GET">
            <input type="numeric" name="posizione" value="{{ posizione }}" class="hidden">
            <input type="submit" value="Nuova prenotazione">
        </form>
    </aside>

    <div id="content">
        <h2>Informazioni</h2>
        <p><strong>Tipo:</strong> {{ tipo spazio }} </p>
        <p><strong>Descrizione:</strong> {{ descrizione spazio }} </p>
        <p><strong>Numero di Tavoli:</strong> {{ numero tavoli spazio }} </p>
        <p><strong>Immagine:</strong> {{ immagine }} </p>
        </section>

        <section id="content">
            <h2>Prenotazioni</h2>
            <p id="descrizione-tabella-prenotazioni" class="helper">
                Tabella delle tue prenotazioni future dello spazio {{ nome spazio }}.
                Ci sono 5 campi: il nome di chi ha effettuato la prenotazione,
                il giorno, l'ora di inizio, l'ora di fine e un link
                per visualizzare i dettagli della prenotazione.
            </p>
            <table aria-describedby="descrizione-tabella">
                <caption>Informazioni sulle prenotazioni</caption>
                <thead>
                    <tr>
                        <th abbr="nome" scope='col'>Nome e cognome</th>
                        <th abbr="il" scope='col'>Giorno</th>
                        <th abbr="dalle" scope='col'>Orario Inizio</th>
                        <th abbr="alle" scope='col'>Orario Fine</th>
                        <th abbr="link" scope='col'>Dettaglio</th>
                    </tr>
                </thead>
                <tbody>
                    {{ righe tabella prenotazioni }}
                </tbody>
            </table>

            <h2>Disponibilità</h2>
            <p id="descrizione-tabella-disponibilità" class="helper">
                Tabella delle tue disponibilità dello spazio {{ nome spazio }}.
                Ci sono 4 campi: il Mese ,il giorno della settimana, l'ora di inizio, l'ora di Fine
                delle diponibilità.
            </p>
            <table aria-describedby="descrizione-tabella-disponibilità">
                <caption>Informazioni sulle disponibilità</caption>
                <thead>
                    <tr>
                        <th abbr="mese" scope='col'>Mese</th>
                        <th abbr="il" scope='col'>Giorno</th>
                        <th abbr="dalle" scope='col'>Orario Inizio</th>
                        <th abbr="alle" scope='col'>Orario Fine</th>
                    </tr>
                </thead>
                <tbody>
                    {{ righe tabella disponibilità }}
                </tbody>
            </table>
        </section>
    </div>
</div>
