<section xmlns="http://www.w3.org/1999/html">
    <h1> Dettaglio utente</h1>
    <ul>
        <li><strong>Nome:</strong> {{ nome }}</li>
        <li><strong>Cognome:</strong> {{ cognome }}</li>
        <li><strong>Ruolo:</strong> {{ ruolo }}</li>
        <li><strong>Nome utente:</strong> {{ username }}</li>
    </ul>
    <form action="/utenti/modifica?username={{ username }}">
        <input type="hidden" name="username" value="{{ username }}">
        <input type="submit" value="Modifica utente">
    </form>
    <form action="/utenti/elimina">
        <input type="hidden" name="username" value="{{ username }}">
        <input type="submit" value="Elimina utente">
    </form>
</section>
<section>
    <h2>Prenotazioni</h2>
    <p>Prenotazioni effettate dall'utente.</p>
    <p id="descrizione tabella" class="helper">La tabella mostra le prenotazioni effettuate dall'utente {{ username }}.
        Ha 5 campi, ovvero: spazio prenotato, giorno della prenotazione, orario di inizio, orario di fine e un link per
        accedere alla pagina di dettaglio della prenotazione.</p>
    <table aria-describedby="descrizione-tabella">
        <caption>Informazioni sulle prenotazioni</caption>
        <thead>
            <tr>
                <th scope="col">Spazio</th>
                <th scope="col">Giorno</th>
                <th scope="col">Orario di inizio</th>
                <th scope="col">Orario di fine</th>
                <th scope="col">Dettaglio</th>
            </tr>
        </thead>
        <tbody>
            {{ table-rows }}
        </tbody>
    </table>
</section>