<div class="container">
    <h1>Modifica <span lang="en">Password</span></h1>
    <form action="{{ action }}" method="post" onsubmit="return validatePassword()">
        <fieldset>
            <legend>Impostazione nuova <span lang="en">Password</span></legend>
            <label for="password"><span lang="en">Password</span> <span class="required"
                                                                        aria-hidden="true">*</span></label>
            <input type="password" id="password" name="password" placeholder="Inserire una password">
            <input id="mostra-password" type="checkbox" class="mostra-password" onclick="toggleView()">
            <label for="mostra-password">Mostra <span lang="en">Password</span></label>
            <label for="conferma_password"><span lang="en">Conferma Password</span> <span class="required"
                                                                        aria-hidden="true">*</span></label>
            <input type="password" id="conferma_password" name="conferma_password"
                   placeholder="Conferma la password">
            <input id="mostra-conferma" type="checkbox" class="mostra-password" onclick="toggleView('conferma_password')">
            <label for="mostra-conferma">Mostra <span lang="en">Password</span></label>
        </fieldset>
        <div>
            <input type="submit" value="Salva">
        </div>
    </form>
</div>