<section>
    <h1>Benvenuti nella Piattaforma di Prenotazione delle Aule Verdi</h1>
    <p>Questa piattaforma è stata creata per permettere ai docenti dell'Istituto di prenotare con facilità
        le <strong>Aule Verdi</strong> e altri spazi ricreativi. Con l'obiettivo di migliorare il benessere
        e l'apprendimento degli studenti, abbiamo sviluppato un sistema che promuove l'educazione all'aria
        aperta e l'interazione sociale tra studenti e docenti.</p>
</section>
<section>
    <h2>Aule Verdi</h2>
    <p>Le Aule Verdi sono spazi all'aperto designati dove gli insegnanti possono tenere lezioni immersi
        nella natura. Ogni aula è circondata da diverse specie di alberi, che danno il nome all'aula stessa,
        creando un ambiente unico e stimolante per l'apprendimento. Studiare all'aperto non solo offre aria
        fresca, ma incoraggia anche un legame più stretto con la natura e migliora la concentrazione e la
        creatività degli studenti.</p>
</section>
<section>
    <h2>Spazi Ricreativi</h2>
    <p>Oltre alle Aule Verdi, la piattaforma permette di prenotare anche spazi ricreativi come le sale da
        <span lang="en">ping pong</span>. Questi spazi sono ideali per i docenti che desiderano rilassarsi e
        divertirsi durante le pause, ma possono anche essere utilizzati dagli insegnanti di scienze motorie
        per lo svolgimento di attività sportive. Questi momenti di svago sono fondamentali per promuovere il
        benessere fisico e mentale di studenti e insegnanti.
    </p>
</section>
<section>
    <h2>Come Funziona</h2>
    <p>Il processo di prenotazione è semplice e intuitivo:</p>
    <ul>
        <li>Effettua l'accesso alla piattaforma utilizzando le tue credenziali.</li>
        <li>Consulta gli spazi disponibili (Aule Verdi e sale ping pong) visualizzando anche le foto degli
            stessi.</li>
        <li>Scegli lo spazio desiderato e verifica la sua disponibilità.</li>
        <li>In caso di spazio libero, specifica il giorno e la fascia oraria per completare la prenotazione.
        </li>
    </ul>
    <p>Grazie a questo sistema, i docenti possono pianificare in modo efficiente le loro lezioni e le
        attività ricreative, garantendo una gestione ottimale degli spazi disponibili.</p>
</section>
<section>
    <h2>Accesso alla Piattaforma</h2>
    <p>Se sei un docente dell'Istituto, puoi accedere alla piattaforma di prenotazione cliccando sul
        pulsante qui sotto. Se non hai ancora un account, contatta l'amministrazione per ricevere le tue
        credenziali di accesso.</p>
    <a href="#">Accedi alla Piattaforma</a>
</section>
