<div class="actions-content">
    <h1> Utenti </h1>

    <aside id="form_filtri">
        <form action="utenti" method="get" onsubmit="return validateFiltriUtente()">
            <fieldset>
                <legend>Filtri</legend>
                <fieldset>
                    <legend>Ruolo</legend>
                    <label for="tipo_verde">Docente</label>
                    <input type="radio" id="ruolo_docente" name="ruolo" value="docente" aria-label="docente" {{ checked-docente }}>
                    <br>
                    <label for="tipo_grigio">Amministratore</label>
                    <input type="radio" id="ruolo_amministratore" name="ruolo" value="amministratore" aria-label="amministratore" {{ checked-amministratore }}>
                </fieldset>
                <br>
                <label for="data"> giorno </label>
                <input type="date" id="data" name="data" {{ data }} />
                <br>
                <label for="orario_inizio"> dalle </label>
                <input type="time" id="orario_inizio" name="orario_inizio" {{ start }}>
                <br>
                <label for="orario_fine"> alle </label>
                <input type="time" id="orario_fine" name="orario_fine" {{ end }}>
                <br>
                <div class="errore">  </div>
                <input type="submit" value="applica filtri"> <br>
            </fieldset>
        </form>

        <!-- questo form si potrebbe rendere hidden quando non ci sono dei filtri e visibile quando ci sono filtri. -->
        <form action="utenti" method="get">
            <input type="submit" value="rimuovi filtri">
        </form>
    </aside>

    <ul class="content" id="lista-utenti">
        {{ lista }}
    </ul>
</div>

