<div>
    <h2>Login</h2>
    <form action="/login" method="POST">
        <fieldset>
            <legend>Accedi</legend>
            <label for="username">Nome utente:</label>
            <input type="text" id="username" name="username" placeholder="Inserire il nome utente" value="{{ username }}" required>
            <label for="password"><span lang="en">Password:</span></label>
            <input type="password" id="password" name="password" placeholder="Inserire la password" value="{{ password }}" required>
            <input type="checkbox" onclick="toggleView()">Mostra <span lang="en">Password</span>
            <input type="submit" value="Accedi">
        </fieldset>
    </form>
    <div id="error-message">
        <span> {{ error }} </span>
    </div>
</div>
