<h1>Login</h1>
<form action="/login" method="POST">
    <fieldset>
        <legend>Accedi</legend>
        <label for="username">Nome utente:</label>
        <input type="text" id="username" name="username" placeholder="Inserire il nome utente" value="{{ username }}"
            required autocomplete="username">
        <label for="password"><span lang="en">Password:</span></label>
        <input type="password" id="password" name="password" placeholder="Inserire la password" value="{{ password }}"
            required autocomplete="current-password">
        <input id="mostra-password" type="checkbox" onclick="toggleView()">
        <label for="mostra-password">Mostra <span lang="en">Password</span></label>
        <input type="submit" value="Accedi">
    </fieldset>
</form>
<div id="error-message">
    <span> {{ error }} </span>
</div>
