<div class="actions-content">
    <h1>Dettaglio prenotazione</h1>

    <aside>
        <h2> Operazioni </h2>
        <form action="prenotazioni/elimina" method="post">
            <input type="hidden" name="prenotazione" value="{{ id_prenotazione }}">
            <input type="submit" value="Elimina prenotazione">
        </form>
        <form action="prenotazioni/modifica" method="get">
            <input type="hidden" name="prenotazione" value="{{ id_prenotazione }}">
            <input type="submit" value="Modifica prenotazione">
        </form>
    </aside>

    <section id="right">
        <ul>
            <li>Giorno: <time datetime="{{ giorno }}">{{ giorno }}</time></li>
            <li>Dalle ore: <time>{{ ora_inizio }}</time></li>
            <li>Alle ore: <time>{{ ora_fine }}</time></li>
            <li>A nome di: {{ nome }} {{ cognome }}</li>
            <li>Nome dell'aula prenotata: {{ nome_aula }}</li>
            <li>Nota: {{ descrizione }}</li>
        </ul>

    </section>
</div>
