<div class="actions-content">
    <h1>Dettaglio prenotazione</h1>

    <aside>
        <h2> Operazioni </h2>
        <form action="prenotazioni/elimina" method="post">
            <input type="hidden" name="prenotazione" value="{{ id_prenotazione }}">
            <input type="submit" value="Elimina prenotazione">
        </form>
        <form action="prenotazioni/modifica" method="get">
            <input type="hidden" name="prenotazione" value="{{ id_prenotazione }}">
            <input type="submit" value="Modifica prenotazione">
        </form>
    </aside>

    <section id="right">
        <h2> Informazioni </h2>
        <ul>
            <li>Giorno: <span class="title"><time datetime="{{ read-data }}">{{ giorno }}</time></span></li>
            <li>Dalle ore: <span class="title"><time>{{ ora_inizio }}</time></span></li>
            <li>Alle ore: <span class="title"><time>{{ ora_fine }}</time></span></li>
            <li>A nome di: <span class="title"> {{ nome }} {{ cognome }}</span></li>
            <li>Nome dell'aula prenotata: <span class="title"> {{ nome_aula }} </span></li>
            <li>Nota: <span class="title"> {{ descrizione }} </span></li>
        </ul>

    </section>
</div>
