<h1>Prenotazioni</h1>
<p id="descrizione-tabella" class="helper">
    Tabella di tutte le prenotazioni future degli spazi verdi.
    Ha 5 campi, ovvero: spazio prenotato, nome e cognome della persona che
    ha effettuato la prenotaizone, il giorno l'ora di inizio e l'ora di fine della
    prenotazione, infine un link per visualizzare i dettagli della prenotazione.
</p>
<table aria-describedby="descrizione-tabella">
    <caption>Informazioni sulle prenotazioni future.</caption>
    <thead>
        <tr>
            <th scope="col">Spazio</th>
            <th abbr="nome" scope="col">Nome e cognome</th>
            <th abbr="il" scope="col">Giorno</th>
            <th abbr="dalle" scope="col">Orario di inizio</th>
            <th abbr="alle" scope="col">Orario di fine</th>
            <th abbr="link" scope="col">Dettaglio</th>
        </tr>
    </thead>
    <tbody>
        {{ table-rows }}
    </tbody>
</table>
