<h3> SPAZI DISPONIBILI </h3>

<form id="form_filtri" action="spazi" method="get">
    <input type="radio" id="tipo_Verde" name="tipo" value="Verde">
    <label for="tipo_Verde">Verde</label>
    <input type="radio" id="tipo_Grigio" name="tipo" value="Grigio">
    <label for="tipo_Grigio">Grigio</label>
    <input type="datetime-local" name="Data_inizio" id="Data_inizio" />
    <label for="Data_inizio">orario inizio </label>
    <input type="datetime-local" name="Data_fine" id="Data_fine" />
    <label for="Data_fine">orario fine </label>
    <input type="submit">
</form>

<ul>
    {{ lista }}
</ul>