<div class="actions-content">
    <h1> Spazi disponibili </h1>

    <aside id="form_filtri">
        <form action="spazi" method="get" onsubmit="return validateDate()">
            <h2>Filtri</h2>
            <fieldset>
                <legend>Tipo</legend>
                <label for="tipo_verde">Verde</label>
                <input type="radio" id="tipo_verde" name="tipo" value="Aula verde" {{ checked-Aula
                    verde }}>
                <label for="tipo_ricreativo">Ricreativo</label>
                <input type="radio" id="tipo_ricreativo" name="tipo" value="Spazio ricreativo"
                    {{ checked-Spazio ricreativo }}>
            </fieldset>
            <fieldset>
                <label for="data">Prenotabile il giorno </label>
                <input type="date" id="data" name="data" {{ data }}>
                <label for="orario_inizio"> dalle </label>
                <input type="time" id="orario_inizio" name="orario_inizio" {{ start }}>
                <label for="orario_fine"> alle </label>
                <input type="time" id="orario_fine" name="orario_fine" {{ end }}>
            </fieldset>
            <div id="error_msg" class="errore"> </div>
            <input type="submit" value="applica filtri">
        </form>

        <form action="spazi" method="get">
            <input type="submit" value="cancella filtri">
        </form>
    </aside>

    <ul class="content" id="lista">
        {{ lista }}
    </ul>
</div>