/*##############################
#           General            #
##############################*/


/* --------- COLORS --------- */

@media (prefers-color-scheme: light) {
    :root {
        --textColor: #333333;
        --backgroundColor: #ffffff;
        --primaryColor: #335833;
        --secondaryColor: #73dec1;
        --errorMessageColor: red;
        --shadow: 0 0 0.4rem 0.01rem var(--secondaryColor);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --textColor: #FFFFFF;
        --backgroundColor: #333333;
        --primaryColor: #73dec1;
        --secondaryColor: #335833;
        --errorMessageColor: #ffa0ff;
        --shadow: 0 0 0.4rem 0.01rem var(--secondaryColor);
    }
}

:root {
    --round-radius: 0.4rem;
}

/* --------- MOBILE BREAKPOINT --------- */

@media screen and (max-width: 767px) {
    :root {
        --textSize: 1rem;
        --heading1Size: 2rem;
        --heading2Size: 1.5rem;
        --shortContent: 100%;
        --content: 100%;
    }
}

/* --------- TABLET BREAKPOINT --------- */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    :root {
        --textSize: 1.1rem;
        --heading1Size: 2.5rem;
        --heading2Size: 2rem;
        --shortContent: 55%;
        --content: 90%;
    }
}

/* --------- LAPTOP BREAKPOINT --------- */

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    :root {
        --textSize: 1.3rem;
        --heading1Size: 3rem;
        --heading2Size: 2.5rem;
        --shortContent: 42%;
        --content: 80%;
    }
}

/* --------- BIG SCREEN BREAKPOINT --------- */

@media screen and (min-width: 1201px) {
    :root {
        --textSize: 1.5rem;
        --heading1Size: 3.5rem;
        --heading2Size: 3rem;
        --shortContent: 36%;
        --content: 70%;
    }
}

/* --------- TYPOGRAPHY --------- */

* {
    box-sizing: border-box;
    line-height: calc(1.5 * var(--textSize));
    font-family: Arial, sans-serif;
}

*:not(html, body, footer) {
    max-width: 1200px;
}

h1 {
    line-height: calc(1.5 * var(--heading1Size));
    color: var(--primaryColor);
    margin-bottom: 1rem;
    text-align: center;
    font-size: var(--heading1Size);
}

h2 {
    line-height: calc(1.5 * var(--heading2Size));
    color: var(--primaryColor);
    margin-bottom: 1rem;
    font-size: var(--heading2Size);
}

a {
    color: var(--backgroundColor);
    background-color: var(--primaryColor);
    padding: 0.3rem;
    border-radius: var(--round-radius);
}

a:visited {
    color: var(--primaryColor);
    background-color: var(--backgroundColor);
}

.hidden {
    display: none;
}

/* --------- HEADER --------- */

.helper {
    position: absolute;
    top: -999px;
    left: 0px;
}

.helper:focus {
    top: 0px;
}


header {
    margin: 0 auto;
}

#logo-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

#logoLink img {
    max-width: 3rem;
    margin-right: 0.5rem;
}

#logoLink a {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    text-decoration: none;
    color: var(--primaryColor);
    background-color: var(--backgroundColor);
    font-weight: bold;

}

#loginLink {
    text-align: right;
}

#menu {
    padding: 1rem;
    border-radius: var(--round-radius);
    background-color: var(--primaryColor);
    color: var(--backgroundColor);
}

#menu ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

#menu a {
    color: var(--primaryColor);
    background-color: var(--backgroundColor);
}

#menu a:visited {
    background-color: var(--primaryColor);
    color: var(--backgroundColor);
}

#breadcrumbs ol {
    display: flex;
    gap: 0.5rem;
}

#breadcrumbs li {
    color: var(--primaryColor);
    list-style: none;
}

#breadcrumbs li:not(:first-child)::after {
    content: ">";
    margin-left: 0.4rem;
}

#breadcrumbs li:last-child::after {
    content: "";
    margin-left: 0;
}

/* --------- BODY --------- */

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    min-height: 100vh;
    margin: 0;
}

/* --------- MAIN --------- */

main {
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 1rem;
    width: var(--content);
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
}

main p {
    margin-bottom: 1.5rem;
}

.short-content {
    width: var(--shortContent);
    margin: 0 auto;
}

/* --------- FOOTER --------- */

#back-to-top {
    display: none;
    line-height: 1rem;
    position: fixed;
    bottom: 6rem;
    right: 1rem;
}

#back-to-top a {
    background-color: var(--primaryColor);
    color: var(--backgroundColor);
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    border: 0.1rem solid var(--backgroundColor);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primaryColor);
    color: var(--backgroundColor);
    margin: 3rem 0 0 0;
}

/* --------- FORMS --------- */

form {
    padding: 1.5rem;
    border-radius: var(--round-radius);
    box-shadow: var(--shadow);
    margin: 0 auto;
}

fieldset {
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
}

legend {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.3rem;
}

input {
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

form input[type="date"],
form input[type="time"],
input[type="text"],
input[type="number"],
textarea,
select,
input[type="password"] {
    width: 98%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 0.1rem solid var(--primaryColor);
    border-radius: var(--round-radius);
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

textarea {
    height: 5rem;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
}

input[type="submit"] {
    width: 98%;
    padding: 1rem;
    background-color: var(--primaryColor);
    color: var(--backgroundColor);
    border: none;
    border-radius: var(--round-radius);
    cursor: pointer;
    font-size: 1.1em;
    box-shadow: var(--shadow);
}

input[type="submit"]:hover {
    background-color: var(--primaryColor);
}

.mostra-password + label {
    display: inline-block;
    margin-bottom: 1rem;
    cursor: pointer;
}

.errore {
    text-align: center;
    color: var(--errorMessageColor);
    margin-top: 1rem;
}

.describer {
    font-size: 0.85em;
    color: #333;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* --------- ABOUT US PAGE --------- */

.signature {
    text-align: right;
    font-style: italic;
}


@media screen and (min-width: 1024px) {
    #scelta-progetto {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        grid-gap: 0 3rem;
        grid-template-areas: 
            "title img"
            "text img"
            "sign img";
        margin-bottom: 3rem;
    }

    #scelta-progetto h2 {
        grid-area: title;
    }

    #scelta-progetto p {
        grid-area: text;
        margin-bottom: 0;
    }
    #scelta-progetto .signature {
        grid-area: sign;
    }

    #scelta-progetto img {
        max-width: 100%;
        grid-area: img;
    }

    #aule-verdi {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 0 3rem;
        align-items: center;
        grid-template-areas: 
            "title img1"
            "p1 img1"
            "p2 img2"
            "p3 img2"
            "img3 img3";
    }

    #aule-verdi h2 {
        grid-area: title;
    }

    #aule-verdi p:nth-of-type(1) {
        grid-area: p1;
    }

    #aule-verdi p:nth-of-type(2) {
        grid-area: p2;
    }

    #aule-verdi p:nth-of-type(3) {
        grid-area: p3;
    }

    #aule-verdi img:nth-of-type(1) {
        grid-area: img1;
    }

    #aule-verdi img:nth-of-type(2) {
        grid-area: img2;
    }

    #aule-verdi img:nth-of-type(3) {
        grid-area: img3;
        margin: 0 auto;
    }

    #arte-natura {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 3rem;
        align-items: center;
        grid-template-areas: 
            "title title"
            "p1 img"
            "p2 img"
            "p3 img";
    }

    #arte-natura h2 {
        grid-area: title;
    }

    #arte-natura p:nth-of-type(1) {
        grid-area: p1;
    }

    #arte-natura p:nth-of-type(2) {
        grid-area: p2;
    }

    #arte-natura p:nth-of-type(3) {
        grid-area: p3;
    }

    #arte-natura img {
        grid-area: img;
        max-width: 100%;
    }
}

/* --------- TEST PAGE --------- */

table {
    width: 100%;
    border: 0.1rem solid #ddd;
}

table th, table td {
    padding: 0.8rem;
    text-align: left;
    border-bottom: 0.1rem solid #ddd;
}

.passed {
    background-color: #d4edda;
    color: #155724;
}

.failed {
    background-color: #f8d7da;
    color: #721c24;
}

#tabella-test {
    display: none;
}
